.skill_container {
    background-color: #110506;;
    width: 100vw;
    height: 70vh;
    position: relative;
} 

.skill_menu {
    display: flex;
    width: 100vw;
    margin: 0 auto;
    padding: 2rem 0;
    justify-content: center;
    margin-bottom: 6rem;
}

.skill_menu button {
    width: 20vw;
    height: 5vh;
    font-size: 1.5rem;
    border: rgba(238, 17, 53) .1rem solid;
}

.skill_container button {
    background-color: rgba(238, 17, 53, .2);
    color: rgba(238, 17, 53);
}

.skill_container button:hover {
    cursor: pointer;
    color: rgba(112, 1, 215);
    background-color: rgba(112, 1, 215, .1);
    text-align: center;
    border: #7001d7 1px solid;
}



.skill_info {
    width: 40vw;
    color: #7001d7;
    text-align: center;
    padding: 1rem 3rem;
}

.skill_info p {
    margin: 1rem 0rem;
    font-size: 1.3rem;
}


.skill_info div{
    position: relative;
    width: 40%;
    height: 2rem;
    background-color: rgba(112, 1, 215, 0.3);;
    overflow: hidden;
    margin: 0 1rem;
    padding: 1rem;
}

.skill_info div::after {
    content: "";
    position: absolute;
    top: 50%; 
    left: 0;
    transform: translateY(-50%);
    width: 90%;;
    height: 2rem;
    background-color: #7001d7;
    z-index: 1;
}

.skill {
    width: 45vw;
    height: 50vh;
    justify-content: space-around;
}

.skill li {
    list-style: none;
}

.skill li:hover {
    color: #7001d7;
    cursor: pointer;
}


i {
   font-size: 4rem;
}

.teste {
    margin-left: 45vw;
    margin-top: 40vh;
}