.container_hobbies {
    background-color: #110506;;
    color: #7001d7;
    width: 100vw;
    height: 30vh;
    padding-bottom: 5rem;
}

.container_hobbies h2 {
    color: #E5D0AC;
    margin-bottom: 3rem;
}

.hobbie {
    background-color: rgba(112, 1, 215, 0.1); /* Ajustado o ponto e vírgula */
    text-align: center;
    border: 1px solid #7001d7; /* Ordem padrão */
    width: 18.5vw;
    height: 18.5vh;
}

.hobbie:hover {
    background-color: rgba(238, 17, 53, .3);
    color: #EE1135;
    border: 1px solid #EE1135;
    cursor:default;
}

.hobbie p {
    margin-top: 1rem;
    font-size: 1rem;
}

@media screen and (max-width:600px) {
    .container_hobbies {
        height: auto;
    }
}