.container_hobbies {
    background-color: black;
    color: #7001d7;}

.hobbie {
    background-color: rgba(112, 1, 215, 0.1); /* Ajustado o ponto e vírgula */
    text-align: center;
    border: 1px solid #7001d7; /* Ordem padrão */
    width: 10rem;
    height: 10rem;
}
