.line {
    width: 100vw;
    height: 2vh;
    background: linear-gradient(90deg, #EE1135, #7001d7);
    background-size: 200% 100%;
    animation: lineGradient 3s infinite linear;
}

@keyframes lineGradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
