@charset "Utf-8";
@font-face {
  font-family: "Garret";
  src: url("./assets/Font/Garet/Garet-Book.otf");
}

@font-face {
  font-family: "Black Mango";
  src: url("./assets/Font/BlackMango/BlackMango-Regular.otf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
  font-family: "Garret";
  overflow-x: hidden;
}

.title {
  font-family: "Black Mango";
}

.paragraph {
  font-family: "Garret";
}

/* PRIMARY COLOR */
.primary-background {
  background-color: #EE1135;
}
.primary-color {
  color: #EE1135;
}

/* SECONDARY COLOR */
.secondary-background {
  background-color: #110506;
}
.secondary-color {
  color: #110506;
}

/* TERTIARY COLOR */
.tertiary-´background {
  background-color: #7001D7;
}

.tertiary-color {
  background-color: #7001D7;
}

.direction-column {
  flex-direction: column;
}


.display-flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.space-evenly {
  justify-content: space-evenly;
}

.position-fixed {
  position: fixed;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

a {
  text-decoration: none;
}