.portfolio_classname {
    background-color: #110506;;
    width: 100vw;
    height: 100vh;
    position: relative;
}

.portfolio_menu {
    display: flex;
    width: 100vw;
    margin: 0 auto;
    padding: 2rem 0;
    justify-content: center;
    margin-bottom: 6rem;
}

.portfolio_menu button {
    width: 20vw;
    height: 5vh;
    font-size: 1.5rem;
    border: rgba(238, 17, 53) .1rem solid;
}

.portfolio_menu button {
    background-color: rgba(238, 17, 53, .2);
    color: rgba(238, 17, 53);
}

.portfolio_menu button:hover {
    cursor: pointer;
    color: rgba(112, 1, 215);
    background-color: rgba(112, 1, 215, .1);
    text-align: center;
    border: #7001d7 1px solid;
}

.portfolio_sidetitle {
    margin-left: 45vw;
    margin-top: 45vh;
}