.container-hero {
    width: 100vw;
    height: 100vh;
    background: url(../../assets/background-hero.png) center center / cover no-repeat;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
}

.container-info {
    width: 30vw;
    text-align: center;
}

.container-info div {
    width: 100%;
}

.container-social {
    transform: translate(-30vw, -22vh);
}

h1 {
    font-size: 2.7rem;
    animation: textGradient 4s infinite linear;
}

p {
    font-size: 1.7rem;
    margin-bottom: 2rem;
}

a i {
    font-size: 2.5rem;
    padding-top: .5rem;
}

.container-info button {
    font-size: 1.7rem;
    padding: .5rem;
    width: 40%;
    background-color: transparent;
    border: .1rem solid #EE1135;
    
}

.container-info a, .container-social i {
    color: #EE1135;
    transition: .4s ease-in-out;
}

.container-info a:hover, .container-social i:hover {
    color: #7001d7;
}

.container-info .primary-button {
    background-color: #EE1135;
}

.container-info .primary-button a {
    color: #110506;
}

@keyframes textGradient {
    0% { color: #EE1135; }
    50% { color: #7001d7; }
    100% { color: #EE1135; }
}

@media screen and (max-width:350px) {
    
    h1 {
        font-size: 2rem;
    }
    p {
        font-size: 1rem;
    }

    .container-info button {
        height: 4rem;
        width: 4rem;
        font-size: 1rem;
    }

    .container-social a i{
        font-size: 2rem;
        padding-top: ;
    }

    .container-social {
        margin-bottom: 1.5rem;
    }
}