.text {
    background-color: rgba(238, 17, 53, 0.2);
    border: 0.1rem solid rgb(238, 17, 53);
    position: absolute;
    width: 10rem;
    text-align: center;
    font-size: 1.5rem;
    color: rgb(238, 17, 53);
}

.text::before {
    content: ''; /* Necessário para ::before renderizar */
    width: 0.2rem; /* Espessura da linha */
    height: 100%; /* Altura da linha */
    background-color: rgb(238, 17, 53); /* Cor da linha */
    position: absolute;
    left: 11rem; /* Ajusta a posição da linha */
    top: 0;
    transform: rotate(-90deg);
}


.left {
    transform: rotate(-90deg);
   translate: -45vw;
   position: absolute;
   z-index: 1;
}

.right {
    transform: rotate(90deg);
    translate: 45vw;
}

@media screen and (max-width:350px) {

    .text {
        width: 5rem;
        font-size: 1rem;
    }
    .text::before {
        width: 0.1rem;
        position: absolute;
        left: 5.6rem; /* Ajusta a posição da linha */
    }
}