.container_project {
    width: 350px;
    height: 50vh;
    text-align: center;
    background-color: rgba(238, 17, 53, 0.3);
    border: rgba(238, 17, 53) solid .1rem;
}

.container_project div {
    margin-top: 2rem;
    width: 85%;
    height: 50%;
    background-color: brown;
}

.container_project h2 {
    margin-top: .5rem;
} 

.container_project i {
    font-size: 2.5rem;
}