.container_project {
    width: 350px;
    height: 50vh;
    text-align: center;
    background-color: rgba(238, 17, 53, 0.3);
    border: rgba(238, 17, 53) solid .1rem;
}

.container_project div {
    margin-top: 2rem;
    width: 80%;
    height: 40%;
    background-color: brown;
}

.container_project h2, .container_project p {
    color: #E5D0AC;
}

.container_project h2 {
    margin-top: .5rem;
} 

.container_project p {
    font-size: 1rem;
    padding: 0 2rem;
}

.container_project i {
    font-size: 2rem;
    color: #EE1135;
}

.container_project i:hover {
    color: #7001D7;
}