@charset "utf-8";

@font-face {
    font-family: "Helvetica93";
    src: url("../public/font/Helvetica\ Neue\ LT\ Std\ 93\ Black\ Extended.otf");

    font-family: "Helvetica85";
    src: url("../public/font/HELVETICA\ NEUE\ LT\ STD\ 85\ HEAVY.OTF");
}

@font-face {
    font-family: "Helvetica75";
    src: url("../public/font/HELVETICA\ NEUE\ LT\ STD\ 75\ BOLD.OTF");

    font-family: "Helvetica67";
    src: url("../public/font/HELVETICA\ NEUE\ LT\ STD\ 67\ MEDIUM\ CONDENSED.OTF");
}

:root {
    --black: #21241D;
    --red: #D94D29;
    --orange: #C25E3E;
    --lightPurple: #6D25C5;
    --purple: #452976;
    --green: #BBC682;
}

/* NAV */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
    width: 100vw;
    height: 100vh;
    color: white;
    background-color: var(--black);
    overflow-x: hidden;
}

.intro-container {
    background-color: var(--black);
    width: 100vw;
    height: auto;
    margin-top: 32vh;
}

nav {
    width: 100vw;
    margin-left: 100px;
}

nav ul {
    display: flex;
    font-family: "Helvetica85";
    font-size: 20px;
    padding-top: 20px;
    margin: 0  2vw;
    color: var(--red);
}

nav li {
    padding: 20px 100px;
    list-style-type: none;
    border: var(--red) 1px solid;
    cursor: pointer;
}

nav li:hover {
    color: var(--lightPurple);
    background-color: black;
}

/* SOBRE MIM */


h1 {
    font-family: "Helvetica85";
    color: transparent;
    -webkit-text-stroke: var(--red) 1px;
    font-size: 55px;
    margin: 90px 160px;
}

.aboutMe-container {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.textContainer {
    display: block;
    margin: 20px 50px;
}

#photo {
    background: url("../public/images/photo2.png") center;
    width: 378px;
    height: 458px;
    margin-left: -5vw;
}

#aboutMe-text {
    width: 679px;
    height: 335px;
    font-family: "Helvetica67";
    font-size: 18px;
    margin-bottom: 20px;
    border: rgb(109, 109, 109) 2px solid;
    padding: 10px;
}

#aboutMe-text p {
    padding: 10px;
}

#orangePhoto {
    background-color: var(--orange);
    width: 679px;
    height: 80px;
}

#colorfulLine {
    width: 100vw;
    height: 20px;
    background: linear-gradient(90deg,var(--lightPurple), var(--red), var(--orange));
    margin-bottom: 50px;
    animation: .5s color linear infinite;
}

svg {
    height:60px;
    width: auto;
    float: right;
    transform: translate(-17rem, -9rem);
}
svg:hover {
    cursor: pointer;
    filter: hue-rotate(90deg);
    transition: 0.3s ease-in;
}

.cls-1 {
    fill:none;
    font-size: 100px;
    stroke:#6d25c5;
    stroke-miterlimit:10;
    stroke-width:2.5px;
}

.cls-2 {
    font-size:46px;
    fill:#6d25c5;
    font-family:"Helvetica85";
}

/* PROJETOS */

#projects-container {
    display: flex;
    justify-content: space-evenly;
}

.projects {
    border: var(--orange) solid 2px;
    align-items: center;
    text-align: center;
    margin-bottom: 100px;
    padding: 15px;
    transition: 0.2s ease-in;
}

.projects a {
    text-decoration: none;
    color: transparent;
}

.projects img {
    width: auto;
    height: 300px;
}

.projects h2{
    color: var(--orange);
    font-family: "Helvetica85";
    margin-bottom: 10px;
}

.projects p {
    color: white;
    font-family: "Helvetica67";
}

.projects:hover {
    transform: scale(110%);
}



@keyframes color {
    0% {
        background: linear-gradient(90deg,var(--lightPurple), var(--red), var(--orange));
    } 50% {
        background: linear-gradient(90deg, var(--red), var(--orange), var(--lightPurple)) ;
    } 100% {
        background: linear-gradient(90deg, var(--orange), var(--lightPurple), var(--red));
    }
}

/* DESKTOP */
@media screen and (max-width: 1280px) and (min-width: 1024px) {
    /* NAVEGAÇÃO */
    nav {
        margin-left: 3rem;
        width: 90vw;
    }
    nav ul {
        font-size: 1rem;
        padding-top: 2rem;
    }

    nav li {
        padding: 1.5rem 4rem;
    }

    h1 {
        font-size: 3rem;
        margin: 4rem 5rem;
    }

    /* ABOUT ME */

    #photo {
        width: 20rem;
        height: 26rem;
        margin-left: -6rem;
    }
    
    #aboutMe-text {
        width: 600px;
        height: 315px;
    }
    
    #orangePhoto {
        width: 600px;
        height: 60px;
    }
    
    #colorfulLine {
        width: 100vw;
        height: 2vh;
    }
    
    svg {
        transform: translate(-4rem, -7rem);
    }

    /* PROJETOS */
    
    .projects {
        padding: 15px;
        margin: 20px;
    }
    
    .projects img {
        width: auto;
        height: 200px;
    }
    
    
    .projects:hover {
        transform: scale(110%);
    }
}

/* LANDSCAPE */

@media screen and (max-width: 1023px) and (min-width: 900px) {
      /* NAVEGAÇÃO */
      nav {
        margin-left: 3rem;
        width: 90vw;
    }
    nav ul {
        font-size: 1rem;
        padding-top: 2rem;
    }

    nav li {
        padding: 1.5rem 3.3rem;
    }

    h1 {
        font-size: 3rem;
        margin: 4rem 5rem;
    }

    /* ABOUT ME */

    #photo {
        width: 18rem;
        height: 26rem;
        margin-left: 2rem;
    }
    
    #aboutMe-text {
        width: 25rem;
        height: 315px;
    }
    
    #orangePhoto {
        width: 25rem;
        height: 60px;
    }
    
    #colorfulLine {
        width: 100vw;
        height: 2vh;
    }
    
    svg {
        transform: translate(-4rem, -7rem);
    }
    
        /* PROJETOS */
        
        .projects {
            padding: 15px;
            margin: 12px;
        }
        
        .projects img {
            width: auto;
            height: 180px;
        }
        
        
        .projects:hover {
            transform: scale(110%);
        }
    
}

/* PORTRAIT */

@media screen and (max-width: 899px) and (min-width: 768px) {
          /* NAVEGAÇÃO */
          nav {
            margin-left: 2.5rem;
            width: 90vw;
        }
        nav ul {
            font-size: 1rem;
            padding-top: 2rem;
        }
    
        nav li {
            padding: 1.5rem 2.4rem;
        }
    
        h1 {
            font-size: 3rem;
            margin: 4rem 5rem;
        }
    
        /* ABOUT ME */
    
        #photo {
            width: 18rem;
            height: 26rem;
            margin-left: 2rem;
        }
        
        #aboutMe-text {
            width: 25rem;
            height: 315px;
        }
        
        #orangePhoto {
            width: 25rem;
            height: 60px;
        }
        
        #colorfulLine {
            width: 100vw;
            height: 2vh;
        }
        
        svg {
            transform: translate(-4rem, -7rem);
        }
        
            /* PROJETOS */
            
            .projects {
                width: 12.8rem;
                padding: 10px;
                margin: 7px;
            }

            .projects h2 {
                font-size: 1.2rem;
            }
            
            .projects img {
                width: auto;
                height: 9rem;
            }
            
            
            .projects:hover {
                transform: scale(110%);
            }
        
}

/* SMARTPHONE ZONE */

@media screen and (max-width: 719px) and (min-width: 480px) {
            body {

                
            }
              /* NAVEGAÇÃO */
              nav {
                margin-left: 0rem;
                width: 100vw;
            }
            nav ul {
                padding-top: 2rem;
                font-size: 0.8rem;
            }
        
            nav li {
                padding: 1.2rem .5rem;
            }
        
            h1 {
                font-size: 2rem;
                margin: 4rem 5rem;
            }

            
        
            /* ABOUT ME */
        
            #photo {
                width: 15rem;
                height: 32rem;
                margin-left: 2rem;
            }
            
            #aboutMe-text {
                font-size: 1rem;
                width: 14rem;
                height: 26rem;
            }
            
            #orangePhoto {
                width: 14rem;
                height: 60px;
            }

            svg {
                height:2.5rem;
                width: auto;
                float: right;
                transform: translate(-17rem, -15rem);
                margin-top: 30px;
            }
            
            #colorfulLine {
                width: 100vw;
                height: 2vh;
            }
            
            svg {
                transform: translate(-4rem, -7rem);
            }
            
                /* PROJETOS */

                #projects-container {
                    flex-direction: column;
                    align-items: center;
                }
                
                .projects {
                    width: 18rem;
                    height: 20rem;
                    padding: 15px;
                    margin-bottom: 2rem;
                }
                
                .projects img {
                    width: auto;
                    height: 10rem;
                }
                
                
                .projects:hover {
                    transform: scale(110%);
                }
}

/* FIRST GEN */

@media screen and (max-width: 419px) and (min-width: 320px) {
    nav {
        margin-left: 0rem;
        width: 100vw;
    }
    nav ul {
        padding-top: 2rem;
        font-size: 0.77rem;
    }

    nav li {
        padding: 1.2rem .5rem;
    }

    h1 {
        font-size: 2rem;
        margin: 4rem 5rem;
    }

    

    /* ABOUT ME */

    #photo {
        width: 15rem;
        height: 32rem;
        margin-left: 2rem;
    }
    
    #aboutMe-text {
        font-size: 1rem;
        width: 14rem;
        height: 26rem;
    }
    
    #orangePhoto {
        width: 14rem;
        height: 60px;
    }

    svg {
        height:2.5rem;
        width: auto;
        float: right;
        transform: translate(-17rem, -15rem);
        margin-top: 30px;
    }
    
    #colorfulLine {
        width: 100vw;
        height: 2vh;
    }
    
    svg {
        transform: translate(-4rem, -7rem);
    }
    
        /* PROJETOS */

        #projects-container {
            flex-direction: column;
            align-items: center;
        }
        
        .projects {
            width: 18rem;
            height: 20rem;
            padding: 15px;
            margin-bottom: 2rem;
        }
        
        .projects img {
            width: auto;
            height: 10rem;
        }
        
        
        .projects:hover {
            transform: scale(110%);
        }
    
}
/* LOW RESOLUTION */
@media screen and (max-width: 319) {
    
}