.container_aboutme {
    background-color: #110506;
    width: 100vw;
    height: 90vh;
    color: #E5D0AC;
    position: relative;
}

.container_aboutme > div {
    width: 75%;
    height: 85%;
    background-color: rgba(238, 17, 53, .3);
    border: rgb(238, 17, 53) solid .1rem;
}

.aboutme_photo {
    background: url("../../assets/profile_pic.jpg") center/cover;
    width: 30%;
    height: 70%;
    margin: 2rem;
}

.aboutme_title p, .aboutme_title h2 {
    line-height: 2rem;
}


.aboutme_text {
    width: 60%;
    height: 70%;
    padding: 2rem;
    
}

.aboutme_text button{
    width: 50%;
    height: 10%;
    color: rgb(238, 17, 53);
    background-color: rgba(0,0,0, 0.2);
    border: 1px solid rgb(238, 17, 53);
    font-size: 1.2rem;
    margin-top: 9.25vw;
}

.aboutme_text button a {
    color: rgb(238, 17, 53);
}

.aboutme_text p {
    font-size: 1.1rem;
}
