footer {
    overflow: hidden;
    background-color: #110506;
    border-top: rgba(238, 17, 53) 1px solid;
    color: rgba(238, 17, 53);
    line-height: .5rem;
    padding: 1.7rem 1rem;
}

footer p {
    font-size: 1.5rem;
}